*.png filter=lfs diff=lfs merge=lfs -text
testdata/mcap/demo.mcap filter=lfs diff=lfs merge=lfs -text
testdata/ filter=lfs diff=lfs merge=lfs -text
testdata/bags filter=lfs diff=lfs merge=lfs -text
testdata/bags/demo.bag filter=lfs diff=lfs merge=lfs -text
testdata/mcap filter=lfs diff=lfs merge=lfs -text
