*.bag filter=lfs diff=lfs merge=lfs -text
*.bfbs filter=lfs diff=lfs merge=lfs -text
*.csv linguist-generated=true
*.db3 filter=lfs diff=lfs merge=lfs -text
*.mcap filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
cpp/examples/protobuf/proto/** linguist-vendored=true linguist-generated=true
python/mcap-ros1-support/mcap_ros1/vendor/** linguist-vendored=true
tests/conformance/data/** linguist-generated=true
typescript/examples/flatbuffer/output/** linguist-generated=true
