# Prettier converts `` to ` in Markdown, which breaks Swift-DocC
**/*.docc/**/*.md
python/Pipfile.lock
tests/conformance/data/**/*.json
typescript/examples/flatbuffer/output/**/*.ts
website/.docusaurus
