$schema: https://raw.githubusercontent.com/streetsidesoftware/cspell/main/cspell.schema.json
version: "0.2"
ignorePaths:
  - __docs__
  - cspell.config.yaml
  - cpp/vendor
  - node_modules
  - go.mod
  - go.sum
  - intervaltree.hpp
  - testdata
  - CMakeLists.txt
  - Makefile
  - build
  - bin
  - dist
  - yarn-error.log
  - "*.bfbs"
  - "*.csv"
  - "*.Dockerfile"
  - Dockerfile
  - "*.mcap"
  - "*.ulg"
  - "*.egg-info"
  - "*.patch"
  - package.json
  - package.xml
  - "*_pb2.py"
  - "*.pyc"
  - "*.svg"
  - "*.webp"
  - Pipfile*
  - mkdocs.yml
  - fathom.html
  - _vendor
  - go
  - rust
  - cpp/examples/protobuf/proto

words:
  - Aescape
  - Anduril
  - bagfile
  - bfbs
  - callerid
  - cbor
  - cmake
  - conanbuildinfo
  - colcon
  - conanfile
  - conans
  - crc
  - crcs
  - datetime
  - DDSI
  - DCMAKE
  - deserialization
  - distro
  - elems
  - emerg
  - flatbuffer
  - flatbuffers
  - flatc
  - fwrite
  - gendeps
  - genpy
  - gentools
  - golangci
  - infima
  - inputfile
  - intrinsics
  - jsonschema
  - kaitai
  - libmcap
  - libbenchmark
  - liblz4
  - libprotobuf
  - libzstd
  - magick
  - matplotlib
  - mcap
  - msgdef
  - msgpack
  - nanos
  - nanosec
  - nlohmann
  - noenv
  - Norlab
  - nsec
  - nsecs
  - numpy
  - omgidl
  - parseable
  - pipenv
  - pointcloud
  - pointclouds
  - proto
  - protobuf
  - protoc
  - robocar
  - rosbag
  - rosmsg
  - rostime
  - RTPS
  - Saronic
  - schemaless
  - serde
  - sfixed
  - srgb
  - stoull
  - struct
  - swiftformat
  - swiftlint
  - tfmessage
  - typecheck
  - typedoc
  - ulog
  - unchunked
  - unindexed
  - vcpkg
  - velodyne
  - waabi
  - Wayve
  - webp
  - xcdr
  - zstandard
  - zstd
  - zustand

languageSettings:
  - languageId: "markdown"
    ignoreRegExpList:
      - "/^\\s*```[\\s\\S]*?^\\s*```/gm"

overrides:
  - filename: "**/*.go"
    words:
      - libmcap
      - descriptorpb
      - dynamicpb
    ignoreRegExpList:
      - '"github\.com.+?"'

  - filename: "go/**/Makefile"
    words:
      - memprofile
      - cpuprofile
      - benchmem

  - filename: "CMakeLists.txt"
    words:
      - conanbuildinfo

  - filename: "cpp/**"
    words:
      - cppstd
      - hdoc
      - nlohmann
      # Windows-specific functions and includes
      - ftelli
      - fseeki
      - winioctl
      - ioapiset
    ignoreRegExpList:
      - "LZ4F_\\w+"
      - "LZ4HC_\\w+"

  - filename: "**/{*.js,*.ts,*.tsx}"
    ignoreRegExpList:
      - "0x[0-9a-f]+n?"

  - filename: "(Pipfile|README.md|pyproject.toml|setup.cfg)"
    words:
      - pypi
      - pyright
      - pytest
      - setuptools
      - addopts
      - xfail
      - Pipfile
      - pyyaml

  - filename: "python/**/*.rst"
    words:
      - mdinclude
      - toctree
      - maxdepth
      - apidoc
      - genindex
      - modindex
      - literalinclude

  - filename: "**/*.py"
    words:
      - klass
      - rglob
      - uncompress
      - ivar
      - rclpy
      - rosidl

  - filename: "**/*.swift"
    ignoreRegExpList:
      - "\\b0x[0-9a-f_]+"
    words:
      - subrange
      - unkeyed
      - lowercased

  - filename: "docs/**"
    words:
      - plex
