$schema: https://raw.githubusercontent.com/streetsidesoftware/cspell/main/cspell.schema.json
version: "0.2"
ignorePaths:
  - cspell.config.yaml
  - node_modules
  - go.mod
  - go.sum
  - intervaltree.hpp
  - testdata
  - CMakeLists.txt
  - Makefile
  - build
  - bin
  - dist
  - yarn-error.log
  - "*.Dockerfile"
  - Dockerfile
  - "*.mcap"
  - "*.egg-info"
  - "*.patch"
  - package.json
  - package.xml
  - "*_pb2.py"
  - Pipfile*
  - mkdocs.yml
  - fathom.html
  - vendor

words:
  - callerid
  - cbor
  - cmake
  - conanfile
  - crc
  - crcs
  - datetime
  - deserialization
  - distro
  - flatbuffer
  - flatc
  - fwrite
  - genpy
  - golangci
  - jsonschema
  - kaitai
  - libmcap
  - mcap
  - nanos
  - nsec
  - nsecs
  - pipenv
  - pointcloud
  - proto
  - protobuf
  - protoc
  - robocar
  - rosbag
  - rosmsg
  - rostime
  - stoull
  - struct
  - swiftformat
  - swiftlint
  - typecheck
  - typedoc
  - unchunked
  - unindexed
  - velodyne
  - zstandard
  - zstd

languageSettings:
  - languageId: "markdown"
    ignoreRegExpList:
      - "/^\\s*```[\\s\\S]*?^\\s*```/gm"

overrides:
  - filename: "**/*.go"
    words:
      - libmcap
      - descriptorpb
      - dynamicpb
    ignoreRegExpList:
      - '"github\.com.+?"'

  - filename: "go/**/Makefile"
    words:
      - memprofile
      - cpuprofile
      - benchmem

  - filename: "CMakeLists.txt"
    words:
      - conanbuildinfo

  - filename: "cpp/**"
    words:
      - cppstd
      - hdoc
      - nlohmann
    ignoreRegExpList:
      - "LZ4F_\\w+"
      - "LZ4HC_\\w+"

  - filename: "**/{*.js,*.ts,*.tsx}"
    ignoreRegExpList:
      - "0x[0-9a-f]+n?"

  - filename: "(Pipfile|README.md|pyproject.toml)"
    words:
      - pypi
      - pyright
      - pytest
      - setuptools
      - addopts
      - xfail
      - Pipfile

  - filename: "python/**/*.rst"
    words:
      - mdinclude
      - toctree
      - maxdepth
      - apidoc
      - genindex
      - modindex
      - literalinclude

  - filename: "**/*.py"
    words:
      - klass
      - rglob
      - uncompress
      - ivar
      - rclpy
      - rosidl

  - filename: "**/*.swift"
    ignoreRegExpList:
      - "\\b0x[0-9a-f_]+"
    words:
      - subrange
      - unkeyed
      - lowercased
