@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply p-6;
    @apply bg-white text-black;
    @apply dark:bg-zinc-800 dark:text-gray-100;
  }
  h2 {
    @apply text-2xl font-bold mt-4;
  }

  a {
    @apply text-sky-600 dark:text-sky-400;
  }
  a:hover {
    @apply text-sky-800 dark:text-sky-400 underline;
  }

  h1 a,
  h1 a:hover {
    @apply text-black dark:text-gray-100 no-underline;
  }

  pre {
    @apply m-2 px-4 py-2 bg-zinc-100 dark:bg-zinc-700  rounded-md;
    @apply overflow-x-auto;
  }

  p,
  dl,
  nav {
    @apply my-2;
  }
}

@layer components {
  .card {
    @apply shadow-sm rounded-lg border;
    @apply p-2 text-center;
    @apply grow basis-0;
  }

  .glossary {
    @apply table mt-4;
  }
  .glossary div {
    @apply table-row;
  }
  .glossary dt {
    @apply table-cell w-1 pr-2;
    @apply font-bold italic;
  }
  .glossary dd {
    @apply table-cell pb-2;
  }

  .header-logo {
    @apply inline-block align-bottom;
    height: 1em;
  }

  .nav-links {
    @apply flex flex-wrap justify-around gap-x-4;
  }

  .features {
    @apply pt-4 flex flex-col flex-wrap gap-4;
    font-size: 15px;
  }

  .features .row {
    @apply flex flex-wrap flex-1 gap-4;
  }

  .features .col {
    @apply flex flex-col items-center flex-1 p-4 border border-zinc-400 dark:border-zinc-600;
    min-width: 180px;
    border-radius: 5px;
  }

  .features .header {
    @apply uppercase font-bold;
  }

  .features svg {
    @apply mt-0 mx-auto mb-2 h-6 w-6;
  }

  .features li {
    @apply mt-0;
  }

  ul {
    list-style: unset;
    margin: revert;
    padding: revert;
  }

  .links {
    @apply mx-8;
  }
  .links a {
    @apply border-sky-400 border-b text-black dark:text-gray-100 no-underline;
  }
  .links a::after {
    content: " →";
  }
  .nav-links a::after {
    content: "";
  }
  .links a:hover {
    @apply border-b-2;
  }

  .shell-input-line::before {
    content: "$ ";
    @apply opacity-50;
  }

  .code-comment {
    @apply opacity-50;
  }
}
