---
Language: Cpp
Standard: C++17
BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AccessModifierOffset: -2
TabWidth: 2
ContinuationIndentWidth: 2
UseTab: Never
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
FixNamespaceComments: true
PointerAlignment: Left
ReflowComments: true
SortIncludes: true

IncludeCategories:
  - Regex: "^<mcap"
    Priority: 1
    SortPriority: 0
  - Regex: "^<.*/"
    Priority: 2
    SortPriority: 0
  - Regex: "^<.*"
    Priority: 3
    SortPriority: 0
