[flake8]
max-line-length = 100
exclude =
  **/build/**,
  examples/protobuf/*pb2.py,
  mcap-protobuf-support/tests/*pb2.py,
  mcap-ros1-support/mcap_ros1/vendor/genpy/*.py,
  mcap-ros1-support/mcap_ros1/vendor/genmsg/*.py,
  mcap-ros2-support/mcap_ros2/vendor/rosidl_adapter/*.py,
# E203 is not PEP8 compliant, W503/Q000 conflict with black formatting
extend-ignore = E203 W503 Q000
