[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
lz4 = "*"
zstd = "*"
mcap = {editable = true, path = "."}

[dev-packages]
black = "*"
build = "*"
pipenv = "*"
pytest = "*"
pyright = "*"
rosbag = {version="*", index="ros"}
std_msgs = {version="*", index="ros"}

[requires]
python_version = "3"
