[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lz4 = "*"
zstd = "*"
mcap = { editable = true, path = ".", use_pep517 = true }

[dev-packages]
black = "*"
build = "*"
flake8 = "*"
m2r2 = "*"
pipenv = "*"
pytest = "*"
pyright = "*"
sphinx = "*"
typing_extensions = "*"

[requires]
python_version = "3"
