[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lz4 = "*"
zstd = "*"
mcap = {editable = true, path = "."}

[dev-packages]
black = "*"
build = "*"
pipenv = "*"
pytest = "*"
pyright = "*"
typing_extensions = "*"

[requires]
python_version = "3"
