name: Pages

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
  build-cpp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true

      - run: mkdir __docs__
      - name: Generate C++ documentation
        run: cd cpp && make ci-docs

      - run: tar -czf docs-cpp.tgz __docs__/cpp
      - uses: actions/upload-artifact@v3
        with:
          name: docs-cpp
          path: docs-cpp.tgz
          retention-days: 1

  build-typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn

      - run: mkdir __docs__
      - name: Generate TypeScript documentation
        run: |
          yarn install --frozen-lockfile
          yarn typedoc

      - run: tar -czf docs-typescript.tgz __docs__/typescript
      - uses: actions/upload-artifact@v3
        with:
          name: docs-typescript
          path: docs-typescript.tgz
          retention-days: 1

  build-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.7
          cache: pipenv

      - run: mkdir __docs__
      - name: Generate Python documentation
        run: |
          set -x
          cd python
          pip install pipenv
          pipenv install --dev --deploy
          pipenv run sphinx-apidoc --separate --tocfile index --output-dir docs/apidoc mcap
          pipenv run sphinx-build docs ../__docs__/python

      - run: tar -czf docs-python.tgz __docs__/python
      - uses: actions/upload-artifact@v3
        with:
          name: docs-python
          path: docs-python.tgz
          retention-days: 1

  build-swift:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: fwal/setup-swift@v1
        with:
          swift-version: "5.6"

      - run: mkdir __docs__
      - name: Generate Swift documentation
        run: |
          set -x
          swift package \
            --allow-writing-to-directory __docs__ \
            generate-documentation --target mcap \
            --output-path __docs__/swift \
            --disable-indexing \
            --transform-for-static-hosting \
            --hosting-base-path mcap/docs/swift

      # https://github.com/actions/upload-artifact/issues/85
      - run: tar -czf docs-swift.tgz __docs__/swift
      - uses: actions/upload-artifact@v3
        with:
          name: docs-swift
          path: docs-swift.tgz
          retention-days: 1

  publish:
    needs:
      - build-cpp
      - build-typescript
      - build-python
      - build-swift
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
      - uses: actions/setup-python@v3
        with:
          python-version: 3.7
      - run: pip install pyyaml

      - uses: actions/download-artifact@v3

      - run: for f in *.tgz; do tar -xf $f; done
      - run: ls __docs__

      - name: Prepare updates to GitHub Pages
        run: |
          set -x
          sudo rm -rf docs
          cp -R __docs__ docs
          git add docs

          # Update "include" directive in Jekyll config to include files with underscores in build output
          # https://talk.jekyllrb.com/t/include-all-files-in-a-specific-directory-even-if-the-filenames-start-with-underscores/5849/5
          python3 <<EOF
          import os
          import yaml

          include_files = []
          for dirpath, dirnames, filenames in os.walk("docs"):
            for name in dirnames:
              if name.startswith("_"):
                include_files.append(name)  # As of Jekyll 3.9, the full path does not work, each dir name must be provided separately

          with open("_config.yml", "r") as f:
            config = yaml.safe_load(f) or {}
          with open("_config.yml", "w") as f:
            config["include"] = include_files
            yaml.dump(config, f)
          EOF

          git add _config.yml
          git diff --cached --stat

      - name: Push updates to GitHub Pages
        if: github.ref == 'refs/heads/main'
        run: |
          if git diff --cached --quiet; then
            echo "No changes to publish"
          else
            git -c user.name=Foxglove -c user.email=contact@foxglove.dev commit -m "Update docs from $GITHUB_REF_NAME (${GITHUB_SHA::7})"
            git push origin gh-pages
          fi
