name: Pages

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - uses: actions/setup-python@v3
        with:
          python-version: 3.7
          cache: pipenv
      - uses: fwal/setup-swift@v1
        with:
          swift-version: "5.6"

      - run: mkdir __docs__

      - name: Generate C++ documentation
        run: cd cpp && make ci-docs

      - name: Generate TypeScript documentation
        run: |
          yarn install --frozen-lockfile
          yarn typedoc

      - name: Generate Python documentation
        run: |
          set -x
          cd python
          pip install pipenv
          pipenv install --dev --deploy
          pipenv run sphinx-apidoc --separate --tocfile index --output-dir docs/apidoc mcap
          pipenv run sphinx-build docs ../__docs__/python

      - name: Generate Swift documentation
        run: |
          set -x
          swift package \
            --allow-writing-to-directory __docs__ \
            generate-documentation --target mcap \
            --output-path __docs__/swift \
            --disable-indexing \
            --transform-for-static-hosting \
            --hosting-base-path mcap/docs/swift

      # https://github.com/actions/upload-artifact/issues/85
      - run: tar -czf __docs__.tgz __docs__
      - uses: actions/upload-artifact@v3
        # if: github.ref == 'refs/heads/main'
        with:
          name: docs-archive
          path: __docs__.tgz

  publish:
    # if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
      - uses: actions/setup-python@v3
        with:
          python-version: 3.7
      - run: pip install pyyaml

      - uses: actions/download-artifact@v3
        with:
          name: docs-archive
      - run: tar -xf __docs__.tgz && ls __docs__

      - name: Push updated docs to GitHub Pages
        run: |
          set -x
          sudo rm -rf docs
          cp -R __docs__ docs
          git add docs

          # Update "include" directive in Jekyll config to include files with underscores in build output
          # https://talk.jekyllrb.com/t/include-all-files-in-a-specific-directory-even-if-the-filenames-start-with-underscores/5849/5
          python3 <<EOF
          import os
          import yaml

          include_files = []
          for dirpath, dirnames, filenames in os.walk("docs"):
            in_underscored_dir = any(segment.startswith("_") for segment in os.path.normpath(dirpath).split(os.path.sep))
            for name in filenames + dirnames:
              if name.startswith("_") or in_underscored_dir:
                include_files.append(os.path.join(dirpath, name))

          with open("_config.yml", "r") as f:
            config = yaml.safe_load(f) or {}
          with open("_config.yml", "w") as f:
            config["include"] = include_files
            yaml.dump(config, f)
          EOF

          git add _config.yml
          git diff --cached --stat
          if git diff --cached --quiet; then
            echo "No changes to publish"
          else
            git -c user.name=Foxglove -c user.email=contact@foxglove.dev commit -m "Update docs from $GITHUB_REF_NAME (${GITHUB_SHA::7})"
            git push origin gh-pages
          fi
